body{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    color: crimson;

}

.tanque{
    color: orange;
}

#vi{
    font-size: large;
}

.tanque:hover{
    font-size: large;
    color: burlywood;
}