body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;  /* espacio afuera de la caja */
    background-color: #f4f6f8; /* color de fondo */
    color: #333; 
}

/*Parte visible superior de la página o cabecera de pagina*/
header { 
    background: linear-gradient(135deg, #84B4FF, #5DA9E9);
    color: white;
    text-align: center; /* Sirve para alinear el texto  */
    padding: 50px 20px; /* Es la distancia entre el contenido y el borde del elemento */
}

/* Títulos */
h2 {
    color: #5DA9E9;
    font-weight: 700;
    margin-bottom: 25px;
}

/*
border-bottom
2px   → grosor de la línea
solid → tipo de línea
#ddd  → color
*/


/* Listas */
li {
    color: black;
    margin-bottom: 6px; /* espacio entre cada elemento de la lista */
}


/* Footer:  parte final de una página o sección*/
footer {
    text-align: center;
    padding: 15px;
    background-color: #84B4FF;
    color: white;
    margin-top: 20px; /* agrega espacio externo en la parte superior del elemento */
}

section {
    background-color: white;
    padding: 40px;
    margin: 40px auto;
    border-radius: 15px;
    width: 85%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

