/* UNIVERSAL SELECTOR */
* {
    color: #6D326D;
}

/* Element */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
}

/* Class  */
.highlight {
    background-color: #84B4FF;
}

/* ID */
#contacto {
    font-size: 16px;
}

/* Group */
h1, h2, h3 {
    color: #1f3c88;
}

/* Descendat */
section ul {
    list-style-type: square;
}
